%h1= t(:sign_in)


= form_tag [:sessions], id: 'new_session' do
  - flash.each do |name, msg|
    = content_tag :div, msg, id: "flash-#{name}"
  %div
    = label_tag :email
    = text_field_tag :email, params[:email]
  %div
    = label_tag :password
    = password_field_tag :password
  %div
    = check_box_tag :remember_me, 1, params[:remember_me]
    = label_tag :remember_me, 'Remember me', id: 'remember-me'
  %div
    = submit_tag t(:sign_in), class: 'button'
