.row.mar-t-lg
  .col-lg-4.mar-xy-auto
    %h3.text-center Sign In
    = form_tag [:sessions] do
      .input-field
        %label(for="email") Email
        = email_field_tag :email, params[:email], autofocus: true, tabindex: 1
      .input-field
        .flex-row.justify-content-between
          %label(for='password') Password
          = link_to 'Forgot Password?', new_password_reset_path
        = password_field_tag :password, nil, tabindex: 2
      = submit_tag 'Sign In', class: 'button button-block', tabindex: 3, data: { disable_with: 'Please wait...' }
    %p.mar-y-lg
      = link_to 'Create an account.', register_path
