%div(class="justify-center py-5 sm:px-6 lg:px-8")
  %div(class="mt-3 sm:mx-auto sm:w-full sm:max-w-md")
    %div(class="py-8 px-4 sm:px-10")
      %h1.text-center.text-3xl.font-medium.mb-8.tracking-tight Sign In
      = form_tag [:sessions] do
        %div
          %label(for="email") Email
          .mt-1.rounded-md.shadow-sm
            = email_field_tag :email, params[:email], class: 'appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:leading-5'
        .mt-6
          %div.flex.items-center.justify-between
            %label(for="password") Password
            = link_to 'Forgot Password?', new_password_reset_path, class: 'text-sm'
          .mt-1.rounded-md.shadow-sm
            = password_field_tag :password, nil, class: 'appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:leading-5'
        .mt-6
          = submit_tag 'Sign In', class: 'w-full btn btn-blue', data: { disable_with: 'Please wait...' }
      .pt-5.text-center
        = link_to 'Create an account', register_path
