%h1= t(:change_password)

= form_for user, url: password_reset_path(params[:id]) do |f|
  - if user.errors.any?
    .error_messages
      %ul
        - for message in user.errors.full_messages
          %li= message
  %div
    = f.label :password
    = f.password_field :password
  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %div
    = f.submit t(:change_password), class: 'button'
