%h1= t(:reset_password)

= form_tag [:password_resets], method: :post do
  -flash.each do |name, msg|
    = content_tag :div, msg, id: "flash-#{name}"
  %div
    = label_tag :email
    = text_field_tag :email, params[:email]
  %div
    = submit_tag t(:reset_password), class: 'button'
