%h1= t(:reset_password)

= form_tag [:password_resets], method: :post do
  = render partial: 'flash', locals: { flash: flash }
  %div
    = label_tag :email
    = email_field_tag :email, params[:email]
  %div
    = submit_tag t(:reset_password), class: 'button'
