%h1= t(:register)

= form_for user do |f|
  - if user.errors.any?
    .error-messages
      %ul
        - filtered_user_messages(user).each do |message|
          %li= message
  %div
    = f.label :email
    = f.email_field :email
  %div
    = f.label :password
    = f.password_field :password
  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %div
    = f.submit t(:register), class: 'button'
