%h1= t(:register)

= form_for user do |f|
  - if user.errors.any?
    .error_messages
      %ul
        - for message in user.errors.full_messages
          %li= message
  %div
    = label_tag :email
    %br
    = f.text_field :email
  %div
    = label_tag :email_confirmation
    %br
    = f.text_field :email_confirmation
  %div
    = label_tag :password
    %br
    = f.password_field :password
  %div
    = label_tag :password_confirmation
    %br
    = f.password_field :password_confirmation
  %div
    = f.submit t(:save)
