%h1= t(:register)

= form_for user do |f|
  - if user.errors.any?
    .error_messages
      %ul
        - for message in filtered_user_messages(user)
          %li= message
  %div
    = f.label :email
    = f.text_field :email
  %div
    = f.label :password
    = f.password_field :password
  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %div
    = f.submit t(:register), class: 'button'
