!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %title= t(:decent_authentication)
  %body
    %section
      %article
        = yield
    %header
      %nav
        - if authenticated_user
          = "#{t(:signed_in_as)} #{authenticated_user.email}"
          |
          = link_to t(:sign_out), sign_out_path
        - else
          = link_to t(:register), register_path
          or
          = link_to t(:sign_in), sign_in_path
