!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %title Decent Authentication
  %body
    %section
      %article
        = yield
    %header
      %nav
        - if authenticated_user
          = "Signed in as #{authenticated_user.email}"
          |
          = button_to 'Sign out', sign_out_path, method: :delete, class: 'button-link'
        - else
          = link_to 'Register', register_path
          or
          = link_to 'Sign in', sign_in_path
