!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %title Decent Authentication
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body{class: "#{controller_name} #{action_name}"}
    - if authenticated_user
      %nav.navbar.fixed-top.navbar-toggleable-sm.navbar-light.bg-faded
        %ul.navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link(href="#{root_path}") Home
        %ul.navbar-nav.justity-content-right
          %li.nav-item
            = link_to 'Profile', profile_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Sign out', signout_path, method: :delete, class: 'btn btn-danger', id: 'nav-signout'

    .container
      - unless flash.empty?
        = render partial: 'flash', locals: { flash: flash }
      = yield
